.container {
	box-sizing: content-box;
	margin: 0 auto;
	width: 98%;
	.row {
		@media screen and (max-width: 768px) {
			@include grid(xs, 768px);
		}
	}

	@each $size, $value in $sizes {
		@media screen and (min-width: $value) {
			width: 90%;
			max-width: $value - 200px;
			min-width: 300px;
			margin: 0 auto;
		}
	

	.row {
		box-sizing: content-box;
		width: 100%;
		margin: 0 auto;
		display: block;
		
			@media screen and (min-width: 0.98*($value)) {
				@include grid($size, $value);
			}
		}
	}
}

	

	
