
	@mixin grid($size, $value) {
		@for $n from 1 through 12 {

				.space-#{$size}-#{$n} {
					margin-left: ((100%/12)*$n) - .50001%;
				}

				.col-#{$size}-#{$n} {
					display: inline-block;
					width: ((100%/12)*$n);
					color: rgb(($n), ($n), ($n));
					&:last-of-type {
						float: right;
						width: ((100%/12)*$n);
						margin-right: 0;
						/*margin: 0 auto;*/
					}
				}			
		}
	}

	@mixin bg-colors($colors) {
		@each $color in $colors {
			.bg-#{$color} {
				background-color: $color;
			}
		}
	}

	@mixin complex-positioning($positions, $pos) {
		@each $position in $positions {
			@each $p in $pos {
				.#{$position}-#{$p} {
					position: $position;
					#{$p}: 0;
				}
			}
		}
	}

	@mixin positioning($positions) {
		@each $position in $positions {
				.#{$position} {
					position: $position;
			}
		}
	}

	@mixin posing($pos) {
		@each $p in $pos {
			.#{$p} {
				#{$p}: 0;
			}
		}
	}